PORT=8000
ENV=local

# Backend auth
JWT_SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=120

# Database
DATABASE_URL=postgresql+psycopg2://cdb_user:cdb_pass@localhost:5432/cdb_intel

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=profiles_v1

# CORS
FRONTEND_ORIGIN=http://localhost:5173

